.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo{
  width: 200px;
}

.navitems > ul{
  display: flex;
  list-style-type: none;
  padding: 20px 30px;
  
  
}
.navitems > ul >li{
  margin: 20px;
}

.res-card{
  width: 200px;
  height: auto;
  margin: 5px;
}
.res-card:hover{
  
  border: 1px solid black;
  cursor: pointer;

}
.img-container{
  size: auto;
  
}

  .search{
    padding: 10px 10px;
  }



.logo{
  width: 190px;
  padding: 5px;

}
.restaurentcontainer{
  display: flex;
  flex-wrap: wrap;
 
  
}
.res-card{
  background-color: #f0f0f0;
  
}